/*=========== breadcrumb_area css =============*/ 
.breadcrumb_area {
  position: relative;
  padding: 172px 0px 84px;
  background: #04091e;
  z-index: 1;
  overflow: hidden;
}

.breadcrumb_area .bg-parallax {
  background: url("../image/about_banner.jpg") no-repeat scroll center 0/cover;
  opacity: 0.50;
  z-index: -1;
}

.page-cover-tittle {
  display: block;
  font-size: 36px;
  line-height: 45px;
  color: #fff;
}

.breadcrumb {
  text-align: center;
  background: transparent;
  padding: 0px;
  display: inline-block;
}

.breadcrumb li {
  display: inline-block;
  color: #fff;
}

.breadcrumb li a {
  color: #fff;
}

.breadcrumb li + li:before {
  content: "\e87a";
  font-family: 'Linearicons-Free';
  font-size: 14px;
  font-weight: 600;
  vertical-align: middle;
  margin: 0px 10px 0px 7px;
}

/*============= End banner_area css =============*/