/*================= latest_blog_area css =============*/
.single-recent-blog-post {
    margin-bottom: 30px;
  }
  
  .single-recent-blog-post .thumb {
    overflow: hidden;
  }
  
  .single-recent-blog-post .thumb img {
    -webkit-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
    transition: all 0.7s linear;
  }
  
  .single-recent-blog-post .details {
    padding-top: 30px;
  }
  
  .single-recent-blog-post .details .sec_h4 {
    line-height: 24px;
    padding: 10px 0px 13px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .single-recent-blog-post .details .sec_h4:hover {
    color: #52c5fd;
  }
  
  .single-recent-blog-post .date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
  
  .single-recent-blog-post:hover img {
    -webkit-transform: scale(1.23) rotate(10deg);
    -ms-transform: scale(1.23) rotate(10deg);
    transform: scale(1.23) rotate(10deg);
  }
  
  .tags .tag_btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #eeeeee;
    display: inline-block;
    padding: 1px 18px;
    text-align: center;
    color: #222222;
  }
  
  .tags .tag_btn:before {
    background: #f3c300;
  }
  
  .tags .tag_btn + .tag_btn {
    margin-left: 2px;
  }