.accomodation_item {
    margin-bottom: 30px;
  }
  
  .accomodation_item .hotel_img {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .accomodation_item .hotel_img img {
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  
  .accomodation_item .hotel_img .theme_btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    padding: 5px 25px;
    max-width: 128px;
  }
  
  .accomodation_item .hotel_img:hover img {
    -webkit-transform: scale(1.19);
    -ms-transform: scale(1.19);
    transform: scale(1.19);
  }
  
  .accomodation_item h5 {
    font-size: 24px;
    line-height: 28px;
    color: #52c5fd;
    font-weight: 600;
    margin-bottom: 0px;
  }
  
  .accomodation_item h5 small {
    font-weight: 300;
    font-size: 14px;
  }
  
  .sec_h4 {
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0px;
  }
  
  .accomodation_two {
    margin-bottom: -40px;
  }
  
  .accomodation_two .accomodation_item {
    margin-bottom: 45px;
  }
  